

.app-layout .menu ,
.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline{
    background-color: rgb(0 21 41) !important;
    color: #fff !important;
    border-radius: 0 !important;
}

.app-layout .logo-vertical {
    color: #fff;
    background-color: rgb(0 21 41) !important;
    text-align: center;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.app-layout .ant-menu-item.ant-menu-item-selected {
    background-color: #0088FF;
    color: #e7eef8;
}

.app-layout .header {
    /*border-radius: 1rem;*/
    box-shadow: 0 1.6rem 3rem rgba(0, 0, 0, 0.1);
    /*margin: 10px calc(1.275rem + 0.3vw);*/
    background-color: hsla(0, 0%, 100%, 0.5);
    /*border-bottom: 0 solid #f8f9fa;*/
    color: #808191;
    padding: 0 0.75rem;
    position: sticky;
    /*top: 10px;*/
    z-index: 1020;
}

.app-layout .footer {
    /*border-radius: 1rem;*/
    box-shadow: 0 1.6rem 3rem rgba(0, 0, 0, 0.1);
    /*margin: 10px calc(1.275rem + 0.3vw);*/
    background-color: hsla(0, 0%, 100%, 0.5);
    border-bottom: 0 solid #f8f9fa;
    color: #808191;
    padding: 0 0.75rem;
    position: sticky;
    bottom: 10px;
    z-index: 1020;
    /*height: 40px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-layout .toggle-menu-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
.app-layout .toggle-menu-btn:hover {
    color: #fff;
}
/* Điều chỉnh khoảng cách giữa icon và text trong menu */
.app-layout .ant-menu-item,
.app-layout .ant-menu-submenu-title {
    padding-left: 12px !important;  /* Giảm khoảng cách bên trái */
}
.app-layout .ant-menu-sub .ant-menu-item {
    padding-left: 45px !important; /* Có thể tăng hoặc giảm để điều chỉnh */
}
